
@import "../edit.scss";
.dropdown {
	width: 320px;
	margin: 0 auto;
	position: relative;
    color: $aqua_1;
	.dropdown-btn {
		padding: 0 20px;
		line-height: 60px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 2px solid $aqua_2;
		&:hover {
			transition: ease 0.3s;
			background-color: $aqua_5;
		}
	}
	.dropdown-content {
		position: relative;
		left: 0;
		backdrop-filter: blur(15px);
		width: 100%;
		display: block;
		line-height: 60px;
		.dropdown-item {
			padding: 0 40px;
			line-height: 60px;
			width: 320px;
			cursor: pointer;
			height: 100%;
			&:hover {
				background: $aqua_3;
				transition: ease 0.3s;
			}
		}
	}
}
