@import "../components/edit.scss";

table {
    margin: 50px auto;
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    @include shadow;	
    
    th {
      background-color: $aqua_2;
      color: $aqua_5;
      text-align: left;
      padding: 10px;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1px;
      border-bottom: 2px solid $aqua_2;
    }
    
    td {
      padding: 10px;
      border-bottom: 1px solid $aqua_2;
      
      &:last-child {
        text-align: center;
      }
    }
    
    tr:hover {
      background-color: $aqua_5;
    }
    
    button {
      background-color: $aqua_3;
      color:  $aqua_5;
      border: none;
      padding: 8px 12px;
      border-radius: 5px;
      font-size: 14px;
      cursor: pointer;
      transition: background-color 0.2s ease;
      
      &:hover {
        background-color:  $aqua_2;
      }
    }
  }
  